.vol-card {
    margin-bottom: 16px;

  }
  
  .compagnie-logo {
    width: 150px;
    height: 30px;
  }
  
  mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
  }