<div class="container">
  <div class="title">
    <h1>{{ title }}</h1>
  </div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filterApplied)="getFilterData($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols
          [volListe]="volListe"
          (volClicked)="getVol($event)"
        ></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers
        [passagerListe]="passagerListe"
      ></app-liste-passagers>
    </div>
  </div>
</div>
